
# fastQC
FASTQDIR=/work/geisingerlab/Mark/rnaSeq/2024-04-03_pbpGlpsB_clean-redo/input/fastq
FASTQC_OUT_DIR=/work/geisingerlab/Mark/rnaSeq/2024-04-03_pbpGlpsB_clean-redo/fastqc_output_pretrim
SCRIPT_DIR=/work/geisingerlab/Mark/rnaSeq/2024-04-03_pbpGlpsB_clean-redo/scripts

# STAR genomeGenerate
GENOME_REF_DIR=/work/geisingerlab/Mark/rnaSeq/2024-01_rnaseq_pbpGlpsB/ref/
FASTA_IN=/work/geisingerlab/Mark/REF_GENOMES/17978-mff/NZ_CP012004.fasta
GTF_IN=/work/geisingerlab/Mark/REF_GENOMES/17978-mff/NZ_CP012004.gff3
